*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.blog
{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px auto;
}
.blog .blog-1
{
   padding: 15px;
   width: 40%;
}